* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

.hide-ele {
  display: none !important;
}

.content-block {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.content-block.first {
  margin-top: 3vh;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 95vh;
  box-shadow: 0 0 1px #333;
}

.rectangle-box {
  position: relative;
}

.rectangle-box > * {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.rectangle-box::before {
  content: '';
  display: block;
  width: 100%;
  z-index: 0;
}

.rectangle-box.square::before {
  padding-bottom: 100%;
}

.rectangle-box .no1 {
  z-index: 1;
}

.rectangle-box .no2 {
  z-index: 2;
}

.rectangle-box .no3 {
  z-index: 3;
}

.user-list {
  border-right: 1px solid #ddd;
  overflow-y: scroll;
}

.user-list input[name='list-user'] {
  display: none;
}

.user-list input[name='list-user']:checked + .user {
  background: #e9e9e9;
}

.user-list .user-wrap {
  background: #FFF;
  cursor: pointer;
}

.user-list .user-wrap .user {
  display: grid;
  grid-template-columns: 30px 70px auto;
  overflow: hidden;
  border-bottom: 1px solid #333;
  padding: 15px 0;
  transition: all 0.4s ease-in-out;
}

.user-list .user-wrap .user > * {
  height: 50px;
}

.user-list .user-wrap .user .serial {
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.user-list .user-wrap .user .avatar-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-list .user-wrap .user .avatar-wrap .rectangle-box.square {
  width: 50px;
}

.user-list .user-wrap .user .avatar-wrap .rectangle-box.square .avatar.no1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-list .user-wrap .user .avatar-wrap .rectangle-box.square .badge.no2 {
  right: 0;
  left: inherit;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-size: 10px;
  background: red;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-list .user-wrap .user .message-wrap {
  padding: 0 10px;
  overflow: hidden;
}

.user-list .user-wrap .user .message-wrap * {
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-list .user-wrap .user .message-wrap .name {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  color: #000;
}

.user-list .user-wrap .user .message-wrap .last-message {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #999;
}

.user-list .more-list-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.user-list .more-list-wrap .more-list {
  display: inline-block;
  padding: 5px 10px;
  background: #999;
  border-radius: 5px;
  font-size: 14px;
  color: #FFF;
  cursor: pointer;
}

.user-list .more-list-wrap .more-list, .user-list .more-list-wrap .more-list:focus {
  border: none;
  outline: none;
}

.chat-room {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.chat-room .user-profile-wrap {
  border-bottom: 1px solid #000;
}

.chat-room .user-profile-wrap > * {
  margin: 0;
  display: inline-block;
  padding: 10px;
}

.chat-room .user-profile-wrap > * + * {
  border-left: 1px solid #000;
}

.chat-room .chat-record-list {
  flex: 1;
  overflow-y: scroll;
}

.chat-room .chat-record-list .chat-record {
  display: flex;
  overflow: hidden;
  padding: 15px 50px 15px 20px;
  align-items: flex-start;
}

.chat-room .chat-record-list .chat-record.self {
  flex-direction: row-reverse;
  padding: 15px 20px 15px 50px;
}

.chat-room .chat-record-list .chat-record.self * {
  text-align: right;
}

.chat-room .chat-record-list .chat-record .avatar-wrap {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-room .chat-record-list .chat-record .avatar-wrap .rectangle-box.square {
  width: 50px;
}

.chat-room .chat-record-list .chat-record .avatar-wrap .rectangle-box.square .avatar.no1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.chat-room .chat-record-list .chat-record .message-wrap {
  flex: 1;
}

.chat-room .chat-record-list .chat-record .message-wrap .info {
  width: 100%;
  padding: 5px;
}

.chat-room .chat-record-list .chat-record .message-wrap .info .item {
  margin: 0;
  display: inline-block;
}

.chat-room .chat-record-list .chat-record .message-wrap .info .item + .item {
  font-size: 12px;
  color: #666;
  margin-left: 10px;
}

.chat-room .chat-record-list .chat-record .message-wrap .message {
  padding: 10px 10px;
  box-shadow: 0 0 1px #333;
  border-radius: 10px;
  overflow: hidden;
  font-size: 18px;
  color: #000;
  display: inline-block;
}

.chat-room .chat-record-list .chat-record .message-wrap .message.video-call {
  color: blue;
}

.chat-room .chat-record-list .chat-record .message-wrap .message .content {
  margin: 0;
  white-space: pre-line;
}

.chat-room .chat-record-list .chat-record .message-wrap .message .content.image {
  width: 300px;
}

.chat-room .fast-message-list-wrap {
  max-height: 210px;
  transition: all 0.4s ease-in-out;
}

.chat-room .fast-message-list-wrap input[type='checkbox'] {
  display: none;
}

.chat-room .fast-message-list-wrap input[type='checkbox'] + .switch {
  display: inline-block;
  height: 30px;
  margin: 0;
  padding: 0 50px 0 20px;
  background: coral;
  color: #FFF;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.chat-room .fast-message-list-wrap input[type='checkbox'] + .switch > * {
  margin: 0;
}

.chat-room .fast-message-list-wrap input[type='checkbox'] + .switch > p::before {
  content: '- close fast message';
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
}

.chat-room .fast-message-list-wrap input[type='checkbox']:checked + .switch {
  background: skyblue;
}

.chat-room .fast-message-list-wrap input[type='checkbox']:checked + .switch > p::before {
  content: '+ open fast message';
}

.chat-room .fast-message-list-wrap input[type='checkbox']:checked + .switch + .fast-message-list {
  max-height: 0px;
}

.chat-room .fast-message-list-wrap .fast-message-list {
  max-height: 180px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border-top: 1px solid #000;
  overflow-y: scroll;
  transition: all 0.4s ease-in-out;
}

.chat-room .fast-message-list-wrap .fast-message-list .text-list {
  border-right: 1px solid #000;
}

.chat-room .fast-message-list-wrap .fast-message-list .text-list > .item {
  margin: 0;
  font-size: 16px;
  padding: 5px 10px;
  font-weight: bold;
  border-bottom: 1px solid #000;
  white-space: pre-line;
  cursor: pointer;
}

.chat-room .fast-message-list-wrap .fast-message-list .text-list > .item:nth-child(even) {
  background: #DDD;
}

.chat-room .fast-message-list-wrap .fast-message-list .image-list {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 10px;
}

.chat-room .fast-message-list-wrap .fast-message-list .image-list > img.item {
  width: 100%;
  object-fit: cover;
  max-width: 100%;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.chat-room .fast-message-list-wrap .fast-message-list .image-list > img.item:hover + .preview {
  max-width: 500px;
  max-height: 500px;
  object-fit: contain;
  box-shadow: 0 0 10px 0px #000;
  z-index: 9;
}

.chat-room .fast-message-list-wrap .fast-message-list .image-list > img.preview {
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  max-width: 500px;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.chat-room .send-message-wrap {
  height: 120px;
  min-height: 120px;
  border-top: 1px solid #999;
  display: grid;
}

.chat-room .send-message-wrap > * {
  width: 100%;
  overflow: hidden;
}

.chat-room .send-message-wrap > *:nth-child(1) {
  height: 70px;
}

.chat-room .send-message-wrap > *:nth-child(2) {
  height: 50px;
}

.chat-room .send-message-wrap .input-wrap {
  padding: 5px 15px;
}

.chat-room .send-message-wrap .input-wrap .text-input, .chat-room .send-message-wrap .input-wrap .text-input:focus {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 1px solid #999;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  resize: none;
}

.chat-room .send-message-wrap .button-wrap {
  padding: 5px 15px;
  display: flex;
  justify-content: flex-end;
}

.chat-room .send-message-wrap .button-wrap .button {
  border-radius: 5px;
  height: 40px;
  padding: 0 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: skyblue;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.chat-room .send-message-wrap .button-wrap .button, .chat-room .send-message-wrap .button-wrap .button:focus {
  outline: none;
  border: none;
}

.chat-room .send-message-wrap .button-wrap > * + * {
  margin-left: 20px;
}

.chat-room .send-message-wrap .button-wrap label {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.chat-room .send-message-wrap .button-wrap label input {
  display: none;
}

.chat-room .send-message-wrap .button-wrap .choose-file {
  background: coral;
}

.chat-room .send-message-wrap .button-wrap .send-message {
  background: cornflowerblue;
}
