* {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
}

.hide-ele {
  display: none !important;
}

.content-block {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  &.first {
    margin-top: 3vh;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 95vh;
    box-shadow: 0 0 1px #333;
  }
}

.rectangle-box {
  position: relative;
  & > * {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  &::before {
    content: '';
    display: block;
    width: 100%;
    z-index: 0;
  }
  &.square {
    &::before {
      padding-bottom: 100%;
    }
  }
  .no1 {
    z-index: 1;
  }
  .no2 {
    z-index: 2;
  }
  .no3 {
    z-index: 3;
  }
}

.user-list {
  border-right: 1px solid #ddd;
  overflow-y: scroll;
  input[name='list-user'] {
    display: none;
    &:checked + .user {
      background: rgb(233, 233, 233);
    }
  }
  .user-wrap {
    background: #FFF;
    cursor: pointer;
    .user {
      display: grid;
      grid-template-columns: 30px 70px auto;
      overflow: hidden;
      border-bottom: 1px solid #333;
      padding: 15px 0;
      transition: all 0.4s ease-in-out;
      & > * {
        height: 50px;
      }
      .serial {
        line-height: 50px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
      }
      .avatar-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        .rectangle-box.square {
          width: 50px;
          .avatar.no1 > img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
          .badge.no2 {
            right: 0;
            left: inherit;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            font-size: 10px;
            background: red;
            color: #FFF;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .message-wrap {
        padding: 0 10px;
        overflow: hidden;
        * {
          word-break: keep-all;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .name {
          margin: 0;
          font-size: 18px;
          line-height: 30px;
          color: #000;
        }
        .last-message {
          margin: 0;
          font-size: 14px;
          line-height: 20px;
          color: #999;
        }
      }
    }
  }
}

// chat-room 用户资料、 消息列表、快捷消息、发送消息
.chat-room {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  .user-profile-wrap {
    border-bottom: 1px solid #000;
    & > * {
      margin: 0;
      display: inline-block;
      padding: 10px;
      & + * {
        border-left: 1px solid #000;
      }
    }
  }

  // 消息列表
  .chat-record-list {
    flex: 1;
    overflow-y: scroll;
    .chat-record {
      display: flex;
      overflow: hidden;
      padding: 15px 50px 15px 20px;
      align-items: flex-start;
      &.self {
        flex-direction: row-reverse;
        padding: 15px 20px 15px 50px;
        * {
          text-align: right;
        }
      }
      .avatar-wrap {
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        .rectangle-box.square {
          width: 50px;
          .avatar.no1 > img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }
      .message-wrap {
        flex: 1;
        .info {
          width: 100%;
          padding: 5px;
          .item {
            margin: 0;
            display: inline-block;
            & + .item {
              font-size: 12px;
              color: #666;
              margin-left: 10px;
            }
          }
        }
        .message {
          padding: 10px 10px;
          box-shadow: 0 0 1px #333;
          border-radius: 10px;
          overflow: hidden;
          font-size: 18px;
          color: #000;
          display: inline-block;
          &.video-call {
            color: blue;
          }
          .content {
            margin: 0;
            white-space: pre-line;
            &.image {
              width: 300px;
            }
          }
        }
      }
    }
  }
  // 快捷消息
  .fast-message-list-wrap {
    max-height: 210px;
    transition: all 0.4s ease-in-out;
    input[type='checkbox'] {
      // cursor: pointer;
      display: none;
      & + .switch {
        display: inline-block;
        // width: 100%;
        height: 30px;
        margin: 0;
        padding: 0 50px 0 20px;
        background: coral;
        color: #FFF;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
        & > * {
          margin: 0;
        }
        & > p::before {
          content: '- close fast message';
          display: inline-block;
          font-size: 16px;
          line-height: 30px;
          font-weight: bold;
        }
      }
      &:checked + .switch {
        background: skyblue;
        & > p::before {
          content: '+ open fast message';
        }

        & + .fast-message-list {
          max-height: 0px;
        }
      }
    }
    .fast-message-list {
      max-height: 180px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      border-top: 1px solid #000;
      overflow-y: scroll;
      transition: all 0.4s ease-in-out;
      .text-list {
        & > .item {
          margin: 0;
          font-size: 16px;
          padding: 5px 10px;
          font-weight: bold;
          border-bottom: 1px solid #000;
          white-space: pre-line;
          cursor: pointer;
          &:nth-child(even) {
            background: #DDD;
          }
        }
        border-right: 1px solid #000;

      }
      .image-list {
        padding: 5px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        gap: 10px;
        & > img.item {
          width: 100%;
          object-fit: cover;
          max-width: 100%;
          transition: all 0.4s ease-in-out;
          cursor: pointer;
          &:hover {
            & + .preview {
              max-width: 500px;
              max-height: 500px;
              object-fit: contain;
              box-shadow: 0 0 10px 0px #000;
              z-index: 9;
            }
          }
        }
        & > img.preview {
          position: fixed;
          z-index: 0;
          top: 0;
          right: 0;
          max-width: 500px;
          max-height: 0px;
          overflow: hidden;
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }
  // 发送消息
  .send-message-wrap {
    height: 120px;
    min-height: 120px;
    border-top: 1px solid #999;
    display: grid;
    & > * {
      width: 100%;
      overflow: hidden;
      &:nth-child(1) {
        height: 70px;
      }
      &:nth-child(2) {
        height: 50px;
      }
    }
    .input-wrap {
      padding: 5px 15px;
      .text-input {
        &, &:focus {
          overflow: hidden;
          width: 100%;
          height: 100%;
          border: 1px solid #999;
          border-radius: 10px;
          padding: 10px;
          outline: none;
          resize: none;
        }
      }
    }
    .button-wrap {
      padding: 5px 15px;
      display: flex;
      justify-content: flex-end;
      .button {
        border-radius: 5px;
        height: 40px;
        padding: 0 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: skyblue;
        color: #FFF;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        &, &:focus {
          outline: none;
          border: none;
        }
      }
      & > * + * {
        margin-left: 20px;
      }
      label {
        display: inline-block;
        padding: 0;
        margin: 0;
        input {
          display: none;
        }
      }
      .choose-file {
        background: coral;
      }
      .send-message {
        background: cornflowerblue;
      }
    }
  }
}